@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'RigidReguler';
  font-style: normal;
  font-weight: normal;
  src: url('/font/RigidRegular.woff') format('woff');
}

@font-face {
  font-family: 'RigidMedium';
  font-style: normal;
  font-weight: normal;
  src: url('/font/RigidMedium.woff') format('woff');
}

@theme {
  --font-rigid-reguler: 'RigidReguler', 'sans-serif';
  --font-rigid-medium: 'RigidMedium', 'sans-serif';
}